<!DOCTYPE html>
<html>
    <head>
        <title>Bookaholic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/styles/content.css">
        
    </head>
    <body>
       
        
        <div class="user">Logged in by: {{ username }}  </div>
        <div class="user"><a href="{{ url_for('logout') }}">Logout</a></div>
    
        <img src="/static/img/symbol.jpg" alt="avatar" class="img-center">       
        <div class="heading">Bookaholic</div>     
        <br>
        <br>
    
        <h1 class="book-name">{{ book.title }} </h1>
        <div class="book-detail"><br><br>
            <h1>ISBN NO :{{ book.isbn }}</h1>
            <h1>Author :{{ book.author }} </h1>
            <h1>Year :{{ book.year }} </h1>
            <h1>Goodreads rating :{{ review }} by {{ gr_user_no }} users</h1>
            <h1>Local rating : {{ internal_ratting }} by {{ count }} users</h1>
            <h1><a href="#section1">Write a review</a><br><a href="#section2">Review by other people</a></h1>
        </div>
        <br>
        <br>
        <div class="container">
        <div id = "section1" >
            <form action="{{ url_for('book_detail',isbn=book.isbn )}}" method="POST" class="form-group">
                <h1>Write a review:</h1>
                <textarea class="form-control" name="remark" rows="10" style="margin-bottom:20px; resize:none;" placeholder="Write your review here"></textarea>
                  
                <h1>Rating : </h1>
              
                <div class="row">
                    <div class="col-lg-6">
                      <input type="number"  name="points" class="form-control" placeholder="Between 1.00 -5.00">
                    </div>
                <br>
                <br> &nbsp;&nbsp;&nbsp;&nbsp; <button class="btn">Submit</button>    
            </form>
        </div>
       
<br>
        <div id="section2">
              <div>
                <h1 style="font-weight: bold;font-size: 45px;"> Reviews by the people :-</h1><br>
                {% for i in local_user %}
                  
                  <span style="font-size:40px;font-weight: bold;">User : {{i.username }} <br>{{ i.points }} star <br> Wrote : </span><span style="font-size:40px;">{{ i.remark }} </span>
                  <br>
                  <br>
                  <br>
                {% endfor %}
              </div>
        </div> 
          
    </div>



    <div style="text-align: center;font-weight: bold;">
        &#169;<br>Nitin Chauhan
    </div> 
    <br><br>
    </body>
</html>
