<!DOCTYPE html>
<html>
    <head>
        <title>
            Bookaholic
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles/content.css">
    </head>
    <body>
        <img src="/static/img/symbol.jpg" alt="avatar" class="img-center">
        <div class="heading">Bookaholic</div>  
         <h1 class="centered">{{message}}</h1>
         <h1 class="centered"><a href="{{ url_for('home') }}">Home Page</a></h1>

         <div class="copyright">
            &#169;<br>Nitin Chauhan
        </div>
    </body>
</html>